{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
<title>Мои Кампании</title>
{% endblock %}

{% block content %}
<h2>Мои Кампании</h2>

    <div class="button">
        <a class="button__text" href="{%url 'campaign_add' %}">Добавить кампанию</a>
    </div>
{% if items%}
    <table>
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    {% for item in items%}
        <tr>
            <td>{{item.id}}</td>
            <td><a href="{% url 'campaign_view' pk=item.pk%}">{{item.name}}</a></td>
            <td><a href="{% url 'campaign_view' pk=item.pk%}">[детально]</a></td>
            <td><a href="{% url 'campaign_edit' pk=item.pk%}">[edit]</a></td>
            <td><a href="{% url 'campaign_del' pk=item.pk%}">[del]</a></td>
        </tr>
    {% endfor%}
    </table>
{% endif%}



{% endblock%}

