{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
<title>Добавить адреса в компанию</title>
{% endblock %}

{% block content %}
<h2>Список возможных адресов</h2>
    <div class="button">
        <a class="button__text" href="{%url 'campaign_view' pk=pk %}">Назад</a>
    </div>
{% if items%}
    <table>
        <tr>
            <th>#</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>кол-во подъездов</th>
            <th>кол-во квартир</th>
            <th></th>
        </tr>
    {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.city}}</td>
            <td>{{item.street}}</td>
            <td>{{item.home}}</td>
            <td>{{item.cnt_entrances}}</td>
            <td>{{item.cnt_rooms}}</td>
            <td><a href="{% url 'campaign_address_add' pk=pk id=item.pk %}">[add]</a></td>
        </tr>
    {% endfor%}
    </table>
{% endif%}



{% endblock%}