{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
<title>Добавить адреса в компанию</title>
{% endblock %}

{% block content %}
<h2>Список возможных адресов</h2>
    <div class="button">
        <a class="button__text" href="{%url 'campaign_view' pk=pk %}">Назад</a>
    </div>
{% if items%}


    <table>
        <tr>
            <th>#</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>кол-во подъездов</th>
            <th>кол-во квартир</th>
            <th></th>
            <th></th>
        </tr>
    {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td><a href="">{{item.address_id.city}}</a></td>
            <td><a href="">{{item.address_id.street}}</a></td>
            <td><a href="">{{item.address_id.home}}</a></td>
            <td><a href="">{{item.address_id.cnt_entrances}}</a></td>
            <td><a href="">{{item.address_id.cnt_rooms}}</a></td>
            <td><a href="{ url 'survey_list' pk=item.pk}">[survey]</a></td>
            <td><a href="{ url 'campaign_address_del' pk=item.pk}">[del]</a></td>
        </tr>
    {% endfor%}
    </table>
{% endif%}



{% endblock%}