<ul class="menu">
  <li class="menu__item"><a href="/">Титульная страница</a></li>
  <li class="menu__item"><a href="/accounts/profile/">Профиль</a></li>
  <li class="menu__item"><a href="/accounts/profile/edit/">Редактироват профиль</a></li>
  <li class="menu__item"><a href="/accounts/password/edit/">Сменить пароль</a></li>
  <li class="menu__item"><a href="{% url 'logout' %}">Выход</a></li>
</ul>

<ul class="sub-menu">
  <li class="sub-menu__item">-----------</li>
  <li class="sub-menu__item"><a href="/campaign/">Мои кампании</a></li>
  <li class="sub-menu__item"><a href="/address/">Адреса</a></li>

  <li class="sub-menu__item">-----------</li>
  <li class="sub-menu__item"><a href="/anketa/campaign/polling/">-Опрос</a></li>
  <li class="sub-menu__item"><a href="/anketa/campaign/polling/add/">-Опрос добавить</a></li>
  <li class="sub-menu__item"><a href="/anketa/campaign/statistic/">-Статистика</a></li>



</ul>