<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{{title}}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{ static 'styles.css' }">
</head>
<body>
    <div class="layout">
        <div class="layout__header">
            {% if user.is_authenticated %}
                {% include 'private/menu.html'%}
            {% else %}
                {% include 'public/menu.html' %}
            {% endif %}
        </div>
        <div class="layout__main">
            {% block content %}{% endblock %}
        </div>
        <div class="layout__footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>